<robot name="jiejie">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="0.4291582629693992" radius="0.14476280278576104"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.4291582629693992" radius="0.14476280278576104"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.028254089561562383"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
</robot>
